%html
  %head
    = css :application
    = js :application
    -#%link{rel: "shortcut icon", href: "/favicon.ico"}
    = erb :mixpanel
    %meta{:content => 'width=device-width, initial-scale=1, maximum-scale=1', :name => 'viewport'}
    %title
      Разработка страниц захвата

  %body

    = yield
    = erb :jivosite
    = haml :popup
    = erb :metrika
