%html
  %head
    = css :application
    = js :application
    -#%link{rel: "shortcut icon", href: "/favicon.ico"}
    %title
      Разработка страниц захвата
  %body
    = yield
    = erb :metrika
    = erb :mixpanel